!!! html5
%html
  %head
    %title= title
    = stylesheet_link_tag 'screen.css',:media => 'screen, projection'
    = stylesheet_link_tag 'print.css' ,:media => 'print'
    = stylesheet_link_tag 'custom.css' ,:media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media =>'screen, projection'
    = javascript_include_tag 'jquery.min'
    = csrf_meta_tag
  %body.two-col
    %div#container
      %header
        - logo = image_tag "logo.png" ,:alt=>"sample app" , :class=>"round"
        = link_to logo, root_path
      %nav.round
        %ul
          %li= link_to "Contact", contact_path
          %li= link_to "About",   about_path
          %li= link_to "Help",   help_path

  
      %div.clear-fix

      %section.round
        =yield
